.first-item {
    border-bottom: solid;
    border-width: 2px;
    border-color: lightgray;
}

.landlord-item {
    border-bottom: solid;
    border-width: 2px;
    border-color: lightgray;
    height: 10vw;
}

.logo {
    height: 80%;
    width: auto;
    border-style: solid;
    border-width: 2px;
    border-color: lightgray;
    position: absolute;
    top: 50%;
    left: 2%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.landlord-name {
    margin-top: 2%;
    margin-left: 2%;
    font-size: 2vw
}

.landlord-icon {
    color: dodgerblue;
    position: absolute;
    top: 20%;
    left: 50%;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 3vw
}

.icon-text {
    display: block;
    font-size: 1vw;
    text-align: center
}

/* .go-to-website {
    -moz-transform: translateX(24%);
    -webkit-transform: translateX(24%);
    transform: translateX(24%);
}

.view-properties-on-map {
    -moz-transform: translateX(-5%);
    -webkit-transform: translateX(-5%);
    transform: translateX(-5%);
} */

